{% extends 'instagram/layout.html' %}

{% block title %}Post Detail pk#{{ post.pk }}{% endblock %}

{% block content%}
    <h2>Author : {{ post.author }}</h2>

    {% if post.photo %}
        <div>
            <img src="{{ post.photo.url }}">
        </div>
    {% endif %}

    {{ post.message | linebreaks }}
    <br/>
    <br/>
    <a href="{% url 'instagram:post_list' %}" class="btn btn-primary">
        목록으로 이동
    </a>

    <a href="{% url 'instagram:post_edit' post.pk %}">
        수정하기
    </a>
{% endblock %}