{% extends 'posting/layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {% for post in post_list %}
                <div class="mb-3">
                    {% include 'posting/_post_card.html' %}
                </div>
            {% empty %}
                포스팅이 없어요
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <a href="{% url 'posting:post_new' %}" class="btn btn-primary">새 포스팅</a>
            {% include 'posting/Timeline_Sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}