{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{% static 'sample_image/cat.png' %}" class="card-img-top" alt="고양이">
                    <a href="" class="d-flex align-items-center text-dark text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">Cat</h5>
                            <p class="card-text">
                                귀여운 고양이
                                <small class="card-text" style="float:right;">
                                    2022년 5월 27일 오후 5시 40분
                                </small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'sample_image/big_cat.png' %}" class="card-img-top" alt="큰 고양이">
                    <a href="" class="d-flex align-items-center text-dark text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">Big Cat</h5>
                            <p class="card-text">
                                귀여운 큰 고양이
                                <small class="card-text" style="float:right;">
                                    2022년 5월 27일 오후 5시 41분
                                </small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}